.gradle
.settings
backup
build
stash
.classpath
.project

projects/luchess-pgn/.classpath
projects/luchess-pgn/.project
projects/luchess-pgn/.settings
projects/luchess-pgn/bin
projects/luchess-pgn/build

projects/luchess-core/.classpath
projects/luchess-core/.project
projects/luchess-core/.settings
projects/luchess-core/bin
projects/luchess-core/build

projects/luchess-app-lucene_4x/.classpath
projects/luchess-app-lucene_4x/.project
projects/luchess-app-lucene_4x/.settings
projects/luchess-app-lucene_4x/bin
projects/luchess-app-lucene_4x/build

projects/luchess-web-framework/.classpath
projects/luchess-web-framework/.project
projects/luchess-web-framework/.settings
projects/luchess-web-framework/bin
projects/luchess-web-framework/build

projects/luchess-web-client/.classpath
projects/luchess-web-client/.project
projects/luchess-web-client/.settings
projects/luchess-web-client/bin
projects/luchess-web-client/build

projects/luchess-web-launcher/.classpath
projects/luchess-web-launcher/.project
projects/luchess-web-launcher/.settings
projects/luchess-web-launcher/bin
projects/luchess-web-launcher/build
