/**
* Rules applicable to all HTML elements.
*/
body {
    background-color: #fff;
    color: #222;
    font-family: Verdana, sans-serif;
    font-size: 0.8em;
}

img {
    border: none;
}

/**
* Rules applicable to Form Elements.
*/
fieldset {
    border: 1px solid #7A4B00;
    border-radius: 10px;
    padding: 10px;
    margin: 0 0 20px 0;
}

legend {
    color: #7A4B00;
    font-weight: bold;
    padding: 5px 10px;
}

input[type=text], input[type=password], input[type=submit], input[type=button] {
    border: 0;
    background-color: #F7F6CB;
    color: #7A4B00;
    font-family: Verdana, sans-serif;
}

input[type=submit], input[type=button] {
    border-radius: 10px;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 10px;
    padding: 2px 0;
    width: 100px;
}

input[type=submit]:hover, input[type=button]:hover {
    background-color: #D8B67B;
    color: #F5F4DF;
    cursor: pointer;
}

input[type=submit] {
    background-color: #C4A570;
    color: #F5F4DF;
}

/**
* Rules applicable to scrollbars.
*/
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #F7F6CB;
}

::-webkit-scrollbar-thumb {
    background: #C4A570;
    border-radius: 10px;
}

body {
    scrollbar-face-color: #C4A570;
    scrollbar-arrow-color: #F7F6CB;
}
